# Development requirements

-r requirements.txt
pre-commit
pytest
pytest-cov
tox
wheel
# Pin to match versions in precommit hooks
black==22.3.0
flake8==4.0.1
mypy==v0.790
isort==5.9.3

# For integration tests
docker-compose
docker
pytictoc
