# Development requirements

-r requirements.txt
pre-commit
pytest
pytest-cov
tox==4.0.2
wheel
# Pin to match versions in precommit hooks
black==22.10.0
flake8==5.0.4
mypy==v0.790
isort==5.10.1

# For integration tests
docker-compose
docker
pytictoc
