version: '3.5'
services:

  zookeeper:
    container_name: zookeeper
    hostname: zookeeper
    image: confluentinc/cp-zookeeper:7.2.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - frontend

  kafka1:
    container_name: kafka1
    hostname: kafka1
    image: confluentinc/cp-server:7.2.1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "9099:9099"
    networks:
      - frontend
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_BROKER_ID: 1
      KAFKA_CONFLUENT_BALANCER_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CONFLUENT_LICENSE_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      ## listeners
      KAFKA_LISTENERS: 'BROKERS://:9092'
      KAFKA_ADVERTISED_LISTENERS: 'BROKERS://kafka1:9092'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'BROKERS:PLAINTEXT'
      KAFKA_INTER_BROKER_LISTENER_NAME: BROKERS

  forwarder:
    image: dockerregistry.esss.dk/ecdc_group/build-node-images/python310_test_runner
    depends_on:
      - kafka1
    tty: true
    networks:
      - frontend
    volumes:
    - ./shared_volume:/shared_source:rw

networks:
  frontend: