
version: '2'

services:
  kafka:
    image: wurstmeister/kafka:2.12-2.1.0
    depends_on:
      - zookeeper
    hostname: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: localhost
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_MESSAGE_MAX_BYTES: 10000000
      KAFKA_BROKER_ID: 0
      KAFKA_CREATE_TOPICS: "TEST_forwarderConfig:1:1,TEST_forwarderData_2_partitions:2:1,TEST_forwarderData_0:1:1,TEST_forwarderData_1:1:1,TEST_forwarderData_2:1:1,TEST_forwarderData_change_config:1:1,TEST_forwarderData_connection_status:1:1,TEST_forwarderData_fake:1:1,TEST_forwarderData_idle_updates:1:1,TEST_forwarderStorage:1:1"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  zookeeper:
    image: zookeeper:3.4

  ioc:
    image: screamingudder/softioc:69433bc
    stdin_open: true
    tty: true
    network_mode: "host"
